/**************
* GtkCalendar *
**************/

calendar,
GtkCalendar {
    border-radius: 2px;
}

calendar button,
calendar button:insensitive,
calendar header,
calendar .view,
GtkCalendar.button,
GtkCalendar.button:insensitive,
GtkCalendar.header,
GtkCalendar.view {
    background-color: transparent;
    background-image: none;
}

.highlight,
GtkCalendar.highlight {
    color: #777;
}